    /*
    Flaticon icon font: Flaticon
    Creation date: 27/03/2018 08:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrows:before { content: "\f100"; }
.flaticon-industrial-robot:before { content: "\f101"; }
.flaticon-targeting:before { content: "\f102"; }
.flaticon-eye:before { content: "\f103"; }
.flaticon-motivation:before { content: "\f104"; }
.flaticon-artificial-intelligence:before { content: "\f105"; }
.flaticon-smart-home:before { content: "\f106"; }
.flaticon-algorithm:before { content: "\f107"; }
.flaticon-monitor:before { content: "\f108"; }
.flaticon-develop:before { content: "\f109"; }
.flaticon-github-logo:before { content: "\f10a"; }
.flaticon-flow-chart:before { content: "\f10b"; }
.flaticon-donation:before { content: "\f10c"; }
.flaticon-control-panel:before { content: "\f10d"; }
.flaticon-parking:before { content: "\f10e"; }
.flaticon-twitter:before { content: "\f10f"; }
.flaticon-picture:before { content: "\f110"; }
    
    $font-Flaticon-arrows: "\f100";
    $font-Flaticon-industrial-robot: "\f101";
    $font-Flaticon-targeting: "\f102";
    $font-Flaticon-eye: "\f103";
    $font-Flaticon-motivation: "\f104";
    $font-Flaticon-artificial-intelligence: "\f105";
    $font-Flaticon-smart-home: "\f106";
    $font-Flaticon-algorithm: "\f107";
    $font-Flaticon-monitor: "\f108";
    $font-Flaticon-develop: "\f109";
    $font-Flaticon-github-logo: "\f10a";
    $font-Flaticon-flow-chart: "\f10b";
    $font-Flaticon-donation: "\f10c";
    $font-Flaticon-control-panel: "\f10d";
    $font-Flaticon-parking: "\f10e";
    $font-Flaticon-twitter: "\f10f";
    $font-Flaticon-picture: "\f110";